<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.ks.order.database.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="top.ks.order.database.model.Order" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="commodity_id" property="commodityId" jdbcType="BIGINT" />
    <result column="delivery_addr_id" property="deliveryAddrId" jdbcType="BIGINT" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="commodity_count" property="commodityCount" jdbcType="INTEGER" />
    <result column="commodity_price" property="commodityPrice" jdbcType="DECIMAL" />
    <result column="order_channel" property="orderChannel" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, user_id, commodity_id, delivery_addr_id, commodity_name, commodity_count, 
    commodity_price, order_channel, status, create_time, pay_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ks_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ks_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.ks.order.database.model.Order" >
    insert into ks_order (order_id, user_id, commodity_id, 
      delivery_addr_id, commodity_name, commodity_count, 
      commodity_price, order_channel, status, 
      create_time, pay_time)
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{commodityId,jdbcType=BIGINT}, 
      #{deliveryAddrId,jdbcType=BIGINT}, #{commodityName,jdbcType=VARCHAR}, #{commodityCount,jdbcType=INTEGER}, 
      #{commodityPrice,jdbcType=DECIMAL}, #{orderChannel,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.ks.order.database.model.Order" >
    insert into ks_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="deliveryAddrId != null" >
        delivery_addr_id,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="commodityCount != null" >
        commodity_count,
      </if>
      <if test="commodityPrice != null" >
        commodity_price,
      </if>
      <if test="orderChannel != null" >
        order_channel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="deliveryAddrId != null" >
        #{deliveryAddrId,jdbcType=BIGINT},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityCount != null" >
        #{commodityCount,jdbcType=INTEGER},
      </if>
      <if test="commodityPrice != null" >
        #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderChannel != null" >
        #{orderChannel,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.ks.order.database.model.Order" >
    update ks_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="deliveryAddrId != null" >
        delivery_addr_id = #{deliveryAddrId,jdbcType=BIGINT},
      </if>
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityCount != null" >
        commodity_count = #{commodityCount,jdbcType=INTEGER},
      </if>
      <if test="commodityPrice != null" >
        commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderChannel != null" >
        order_channel = #{orderChannel,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.ks.order.database.model.Order" >
    update ks_order
    set user_id = #{userId,jdbcType=BIGINT},
      commodity_id = #{commodityId,jdbcType=BIGINT},
      delivery_addr_id = #{deliveryAddrId,jdbcType=BIGINT},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_count = #{commodityCount,jdbcType=INTEGER},
      commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      order_channel = #{orderChannel,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>