<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.ks.order.database.mapper.SkOrderMapper">
    <resultMap id="BaseResultMap" type="top.ks.order.database.model.SkOrder">
        <id column="sk_order_id" property="skOrderId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="commodity_id" property="commodityId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    sk_order_id, user_id, order_id, commodity_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from ks_sk_order
        where sk_order_id = #{skOrderId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ks_sk_order
    where sk_order_id = #{skOrderId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="top.ks.order.database.model.SkOrder">
    insert into ks_sk_order (sk_order_id, user_id, order_id,
      commodity_id)
    values (#{skOrderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR},
      #{commodityId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="top.ks.order.database.model.SkOrder">
        insert into ks_sk_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skOrderId != null">
                sk_order_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="commodityId != null">
                commodity_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skOrderId != null">
                #{skOrderId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="commodityId != null">
                #{commodityId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.ks.order.database.model.SkOrder">
        update ks_sk_order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="commodityId != null">
                commodity_id = #{commodityId,jdbcType=VARCHAR},
            </if>
        </set>
        where sk_order_id = #{skOrderId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.ks.order.database.model.SkOrder">
    update ks_sk_order
    set user_id = #{userId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      commodity_id = #{commodityId,jdbcType=VARCHAR}
    where sk_order_id = #{skOrderId,jdbcType=VARCHAR}
  </update>

    <select id="selectByUserCommodity" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ks_sk_order
        where commodity_id = #{commodityId,jdbcType=VARCHAR} and user_id = #{userId} limit 1
    </select>
</mapper>
