<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创意流量</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	    <script src="style/js/include.js"></script>
	    <link rel="stylesheet" href="style/css/module/index-common.css">
	    <link rel="stylesheet" href="style/css/home.css" />
	    <link rel="stylesheet" href="style/css/cy-new-footer.css" />
		<link rel="stylesheet" href="style/css/swiper.min.css"/>
	    <script type="text/javascript" src="style/js/swiper.min.js" ></script>
	</head>
	<body>
		<div class="box">
			<div class="content">
				<!--轮播图-->
				<div class="swiper-container" style="width: 100%;padding-left: 1.28rem;padding-right: 1.28rem;">
	              <ul class="swiper-wrapper">
	                    <li class="swiper-slide" v-for="item in figureList">
	                        <a :href="item.redirectUrl">
	                            <img :src="item.imgUrlSuffix" style="width: 37.44rem;height: 14.93rem;object-fit: contain;border-radius: 0.8rem;"/>
	                        </a>
	                    </li>
	               </ul>
	               <div class="swiper-pagination"></div>
	            </div>
	            <!--轮播图-->
	            <!--公告-->
	            <!--<div class="cyb-index-notice">
	            	<dl @click="goMessage">
						<dt></dt>
						<dd>
						</dd>
						<dd class="notice-msg ">
							<section class="swiper-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in noticeList">{{item.placardContent}}</li>
								</ul>
							</section>
						</dd>
						<dd></dd>
					</dl>
	            </div>-->
	            <!--公告-->
	            <!--流量引导-->
	            <div class="flowBtn">
	            	<div @click="goCLL">
	            		<img src="images/cll@2x.png"/>
	            	</div>
	            	<div @click="goYLL">
	            		<img src="images/yll@2x.png" />
	            	</div>
	            </div>
	            <!--流量引导-->
	            <!--流量推荐-->
            	<div class="flowPacket-list">
	                <!-- 流量包 -->
	                <dl class="hours" v-for="item in flowList" @click="choosePacket(item.flowShopId)">
            			<dt>
	                        <section class="flow-num">
	                            <span v-html="MGFn(item.flowNumber)"></span>
	                            <i>
	                            	{{item.validNumber}}
			            			<template v-if="item.categoryType == 0">天</template> <template
											v-else-if="item.categoryType == 1">小时</template>
	                            </i>
	                        </section>    
	                        <section class="flow-msg">{{item.ispName}}{{flowRange(item.flowScope)}}包</section>    
	                    </dt>
	                    <dd>
	                       <span>限时优惠</span>
	                       <i>￥{{item.price}}</i> 
	                    </dd>
	                </dl>
	                
	                <dl @click="goCLL">
	                    <img src="images/ll_more.png" style="width: 17.6rem;"/>
	                </dl>
	            </div>
	            <!--流量推荐-->
	            <!--活动-->
	            <div class="header-list">
		            <img class="header-list-img" src="images/bg_actTitle.png"/>
		            <div class="newPeople">精彩活动</div>
		        </div>
		        <div class="lists clear">
	                <div class="lists-con clear">
	                	
	                	<div class="small-box" v-for="item in actList">
                            <div class="pic-box" :class="[item.actImgType == 1]?'big-box':''" @click="godails(item.actUrl)">
                                 <img class="small-box-picture" :src="item.actImgUrl"/>
                            </div>
                            <div class="text" :class="[item.actImgType == 1]?'big-box-text':''" v-html="item.actName"></div>
                        </div>
	                	
	                	
                        <!--<div class="small-box">
                            <div class="pic-box" @click="goMS">
                                 <img class="small-box-picture" src="images/miaosha.png"/>
                            </div>
                            <div class="text">天天抢第一  1分买流量</div>
                        </div>
                        <div class="small-box">
                        	<template v-if="ispId == '140'">
	                            <div class="pic-box" @click="goYGYH(1)">
	                                 <img class="small-box-picture" src="images/ygyh.png"/>
	                            </div>
	                            <div class="text">越买越超值  流量抄底价</div>
                        	</template>
                        	<template v-else>
                        		<div class="pic-box" @click="goYGYH(2)">
	                                 <img class="small-box-picture" src="images/llq.png"/>
	                            </div>
	                            <div class="text">5元买流量  包你用7天</div>
                        	</template>
                        </div>
                        <div class="small-box">
                            <div class="pic-box" @click="goDSH">
                                 <img class="small-box-picture" src="images/danshuan.png"/>
                            </div>
                            <div class="text">手机号自带福利  不要错过</div>
                        </div>
                        
                        <div class="small-box big-box">
                            <div class="pic-box" @click="goBox">
                                <img class="small-box-picture" src="images/kaibaoxiang.png"/>
                            </div>
                            <div class="text big-box-text">创意宝箱  多重大礼等你拿</div>
                        </div>
                        
                        <div class="small-box">
                        	<template v-if="ispId == '140'">
                        		<div class="pic-box" @click="goWZZM(1)">
	                                 <img class="small-box-picture" src="images/llq.png"/>
	                            </div>
	                            <div class="text">5元买流量  包你用7天</div>
                        	</template>
                        	<template v-else>
                        		<div class="pic-box" @click="goWZZM(2)">
	                                 <img class="small-box-picture" src="images/wanzhuan.png"/>
	                            </div>
	                            <div class="text">周末有我就够了</div>
                        	</template>
                        </div>-->
	                </div>
	            </div>
	            <!--活动-->
	            <!-- 底部 -->
				<div style="height: 5.3rem"></div>
				<footer class="cyb-index-footer">
					<ul>
						<li @click="goBuy"><span class="default"> 
						<img src="images/footer/Overrides_Tab Bar_Icons_Active_1@2x.png"></span>
							<i class="footer-i footer-active">首页</i></li>
						<li @click="goMe"><span class="default"> 
						<img src="images/footer/Overrides_Tab Bar_Icons_Unselected_3@2x.png"></span>
							<i class="footer-i">我的</i></li>
					</ul>
				</footer>
			</div>	
		</div>
		<script>
			var _mtac = {
				"performanceMonitor" : 1,
				"senseQuery" : 1
			};
			(function() {
				var mta = document.createElement("script");
				mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
				mta.setAttribute("name", "MTAH5");
				mta.setAttribute("sid", "500580613");
				mta.setAttribute("cid", "500580614");
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(mta, s);
			})();
		</script>
		<script>
			var vm = new Vue({
		        el: ".box",
		        data: {
		            loading: true,
		            isLogin: false,
		            ticket: "",
		           	userId: "",
					userInfo: "",
		            ispId : "",
		            figureInfo : "", // 首页轮播相关信息
		            figureList: "",//轮播图列表
		            flowList: "",//流量包列表
		            actList: "",//活动列表
		            req: {
		            	ispId: "",
		            	type: "10"
		            },
		            flowReq: {
		            	ispId: "",
		            	showIndex: 3,
		            },
		            actReq: {
		            	ispId: ""
		            }
		        },
		        created: function () {
		            var vm = this;
		            if (tools.isNotNull(tools.getQueryString("ispId"))) {
						vm.ispId = tools.getQueryString("ispId");
						vm.flowReq.ispId = tools.getQueryString("ispId");
						vm.req.ispId = tools.getQueryString("ispId");
						vm.actReq.ispId = tools.getQueryString("ispId");
					}
		            // 首页轮播图列表 
					httpTool.postTranscode(BASE_URL, [ "indexServiceI",
							"indexHome", vm.req ], function(data) {
						vm.figureInfo = data;
						vm.figureList = data.actCarouselBeans;
						vm.loading = false;
						setTimeout(mySwiperBannerInit, 50);
					});
					//查询流量包haiFlowIndexServiceI.indexFlows
		            httpTool.postTranscode(BASE_URL, [
                        "haiFlowIndexServiceI",
                        "indexFlows",
                        vm.flowReq
                    ], function(data) {
                        vm.flowList = data.actHaitaoBeans;
                        vm.loading = false;
                    });
                    //查询活动列表haiFlowIndexServiceI.indexActs
                    httpTool.postTranscode(BASE_URL, [
                        "haiFlowIndexServiceI",
                        "indexActs",
                        vm.actReq
                    ], function(data) {
                        vm.actList = data.actIndexBeans;
                        vm.loading = false;
                    });
		        },
		        methods: {
		        	//充流量
		        	goCLL: function(){
		        		window.location.href = CONSTANT.BASE_URI
							+ "page/cy-plat-h5-new/page/flow/cyb-flowPacket.html?ispId="
							+ vm.ispId + "&phone=";
		        	},
		        	//要流量
		        	goYLL: function(){
		        		window.location.href = CONSTANT.BASE_URI + "askFlow_main.do";
		        	},
		        	//首页
		        	goBuy: function(){
		        		window.location.href = http + "/cy-index-h5/home.html?ispId=" + vm.ispId;
		        	},
		        	//我的
		        	goMe: function(){
		        		window.location.href = CONSTANT.BASE_URI + "page/cy-plat-h5-new/page/index/cy-me.html?ispId=" + vm.ispId + "&20180712";
		        	},
		        	//选择流量包
		        	choosePacket: function(shoppingId){
	        			window.location.href = CONSTANT.BASE_URI
									+ "flowPacket_toBuyFlowPacket.do?shoppingId="
									+ shoppingId + "&phone=";
		        	},
		        	//秒杀
		        	goMS: function(){
		        		if(vm.ispId == '140'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1806212003034929200.html";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1806211916390979170.html";
		        		}
		        	},
		        	//月购月恵
		        	goYGYH: function(num){
		        		if(num == '1'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1810171326264189581.html";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1812251837588421328.html";
		        		}
		        	},
		        	//单双号
		        	goDSH: function(){
		        		if(vm.ispId == '140'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1806211946524129180.html?4587=";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1806211833152889139.html";
		        		}
		        	},
		        	//玩转周末
		        	goWZZM: function(num){
		        		if(num == '1'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1901211530565243746.html?123cxc=";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1806211903209279156.html";
		        		}
		        	},
		        	//开宝箱
		        	goBox: function(){
		        		if(vm.ispId == '140'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1810111129379119096.html";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1806212051369659237.html";
		        		}
		        	},
		        	MGFn : function(val) {
						var i = val / 1024;
						if (i < 1) {
							return val + "M";
						} else {
							val = i.toFixed(1);
							return val + "G";
						}
					},
					// 流量包使用范围
					flowRange : function(val) {
						if (val == 0) {
							return "小区";
						} else if (val == 1) {
							return "全国";
						}
					},
					godails: function (url) {
		                window.location.href = url;
		            },
		        }
		    });
		    function mySwiperBannerInit() {
				var mySwiperBanner = new Swiper('.content .swiper-container', {
						autoplay:5000,
	                    autoplayDisableOnInteraction : false,
	                    speed:1200,
	                    pagination : '.content .swiper-pagination',
	                    observer: true,
	                    observeParents: true,
				});
			}
		</script>
	</body>
</html>
