<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创意流量</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	    <script src="style/js/include.js"></script>
	    <link rel="stylesheet" href="style/css/module/index-common.css">
	    <link rel="stylesheet" href="style/css/home.css" />
	    <link rel="stylesheet" href="style/css/ks-footer.css" />
		<link rel="stylesheet" href="style/css/swiper.min.css"/>
	    <script type="text/javascript" src="style/js/swiper.min.js" ></script>
	</head>
	<body>
		<div class="box">
			<div class="content">
				<!--轮播图-->
				<div class="swiper-container" style="width: 100%;padding-left: 1.28rem;padding-right: 1.28rem;">
	              <ul class="swiper-wrapper">
	                    <li class="swiper-slide" @click="goDSH">
	                        <img src="images/banner3.png" style="width: 37.44rem;height: 14.93rem;object-fit: contain;border-radius: 0.8rem;"/>
	                    </li>
	               </ul>
	               <div class="swiper-pagination"></div>
	            </div>
	            <!--轮播图-->
	            <!--公告-->
	            <!--<div class="cyb-index-notice">
	            	<dl @click="goMessage">
						<dt></dt>
						<dd>
						</dd>
						<dd class="notice-msg ">
							<section class="swiper-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in noticeList">{{item.placardContent}}</li>
								</ul>
							</section>
						</dd>
						<dd></dd>
					</dl>
	            </div>-->
	            <!--公告-->
	            <!--流量引导-->
	            <div class="flowBtn">
	            	<div @click="goCLL">
	            		<img src="images/cll@2x.png"/>
	            	</div>
	            	<div @click="goYLL">
	            		<img src="images/yll@2x.png" />
	            	</div>
	            </div>
	            <!--流量引导-->
	            <!--流量推荐-->
            	<div class="flowPacket-list">
	                <!-- 流量包 -->
	                <dl class="hours" @click="choosePacket(1)">
	                	<template v-if="ispId == '140'">
	            			<dt>
		                        <section class="flow-num">
		                            <span>1G</span>
		                            <i>7天</i>
		                        </section>    
		                        <section class="flow-msg">山西联通全国包</section>    
		                    </dt>
		                    <dd>
		                       <span>限时优惠</span>
		                       <i>￥10</i> 
		                    </dd>
	            		</template>
	            		<template v-else>
	            			<dt>
		                        <section class="flow-num">
		                            <span>4G</span>
		                            <i>4小时</i>
		                        </section>    
		                        <section class="flow-msg">宁夏联通全国包</section>    
		                    </dt>
		                    <dd>
		                       <span>限时优惠</span>
		                       <i>￥3.5</i> 
		                    </dd>
	            		</template>
	                </dl>
	                <dl class="hours" @click="choosePacket(2)">
	                    <template v-if="ispId == '140'">
	            			<dt>
		                        <section class="flow-num">
		                            <span>20G</span>
		                            <i>10小时</i>
		                        </section>    
		                        <section class="flow-msg">山西联通小区包</section>    
		                    </dt>
		                    <dd>
		                       <span>限时优惠</span>
		                       <i>￥6.6</i> 
		                    </dd>
	            		</template>
	            		<template v-else>
	            			<dt>
		                        <section class="flow-num">
		                            <span>100G</span>
		                            <i>24小时</i>
		                        </section>    
		                        <section class="flow-msg">宁夏联通小区包</section>    
		                    </dt>
		                    <dd>
		                       <span>限时优惠</span>
		                       <i>￥6</i> 
		                    </dd>
	            		</template>
	                </dl>
	                <dl class="hours" @click="choosePacket(3)">
	                    <template v-if="ispId == '140'">
	            			<dt>
		                        <section class="flow-num">
		                            <span>8G</span>
		                            <i>8天</i>
		                        </section>    
		                        <section class="flow-msg">山西联通全国包</section>    
		                    </dt>
		                    <dd>
		                       <span>限时优惠</span>
		                       <i>￥12</i> 
		                    </dd>
	            		</template>
	            		<template v-else>
	            			<dt>
		                        <section class="flow-num">
		                            <span>8G</span>
		                            <i>8天</i>
		                        </section>    
		                        <section class="flow-msg">宁夏联通全国包</section>    
		                    </dt>
		                    <dd>
		                       <span>限时优惠</span>
		                       <i>￥8</i> 
		                    </dd>
	            		</template>
	                </dl>
	                <dl @click="goCLL">
	                    <img src="images/ll_more.png" style="width: 17.6rem;"/>
	                </dl>
	            </div>
	            <!--流量推荐-->
	            <!--活动-->
	            <div class="header-list">
		            <img class="header-list-img" src="images/bg_actTitle.png"/>
		            <div class="newPeople">精彩活动</div>
		        </div>
		        <div class="lists clear">
	                <div class="lists-con clear">
                        <div class="small-box">
                            <div class="pic-box" @click="goMS">
                                 <img class="small-box-picture" src="images/miaosha.png"/>
                            </div>
                            <div class="text">天天抢第一  1分买流量</div>
                        </div>
                        <div class="small-box">
                        	<template v-if="ispId == '140'">
	                            <div class="pic-box" @click="goYGYH(1)">
	                                 <img class="small-box-picture" src="images/ygyh.png"/>
	                            </div>
	                            <div class="text">越买越超值  流量抄底价</div>
                        	</template>
                        	<template v-else>
                        		<div class="pic-box" @click="goYGYH(2)">
	                                 <img class="small-box-picture" src="images/llq.png"/>
	                            </div>
	                            <div class="text">5元买流量  包你用7天</div>
                        	</template>
                        </div>
                        <div class="small-box">
                            <div class="pic-box" @click="goDSH">
                                 <img class="small-box-picture" src="images/danshuan.png"/>
                            </div>
                            <div class="text">手机号自带福利  不要错过</div>
                        </div>
                        <div class="small-box">
                        	<template v-if="ispId == '140'">
                        		<div class="pic-box" @click="goWZZM(1)">
	                                 <img class="small-box-picture" src="images/llq.png"/>
	                            </div>
	                            <div class="text">5元买流量  包你用7天</div>
                        	</template>
                        	<template v-else>
                        		<div class="pic-box" @click="goWZZM(2)">
	                                 <img class="small-box-picture" src="images/wanzhuan.png"/>
	                            </div>
	                            <div class="text">周末有我就够了</div>
                        	</template>
                        </div>
                        <div class="small-box big-box">
                            <div class="pic-box" @click="goBox">
                                <img class="small-box-picture" src="images/kaibaoxiang.png"/>
                            </div>
                            <div class="text big-box-text">创意宝箱  多重大礼等你拿</div>
                        </div>
	                </div>
	            </div>
	            <!--活动-->
	            <!-- 底部 -->
				<div style="height: 5.3rem"></div>
				<footer class="cyb-index-footer">
					<ul>
						<li @click="goBuy"><span class="default"> 
						<img src="images/footer/Overrides_Tab Bar_Icons_Active_1@2x.png"></span>
							<i class="footer-i footer-active">首页</i></li>
						<li @click="goMe"><span class="default"> 
						<img src="images/footer/Overrides_Tab Bar_Icons_Unselected_3@2x.png"></span>
							<i class="footer-i">我的</i></li>
					</ul>
				</footer>
			</div>	
		</div>
		<script>
			var _mtac = {
				"performanceMonitor" : 1,
				"senseQuery" : 1
			};
			(function() {
				var mta = document.createElement("script");
				mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
				mta.setAttribute("name", "MTAH5");
				mta.setAttribute("sid", "500580613");
				mta.setAttribute("cid", "500580614");
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(mta, s);
			})();
		</script>
		<script>
			var vm = new Vue({
		        el: ".box",
		        data: {
		            loading: true,
		            isLogin: false,
		            ticket: "",
		           	userId: "",
					userInfo: "",
		            ispId : "",
		        },
		        created: function () {
		            var vm = this;
		            if (tools.isNotNull(tools.getQueryString("ispId"))) {
						vm.ispId = tools.getQueryString("ispId");
					}
		            setTimeout(mySwiperBannerInit, 50);
		        },
		        methods: {
		        	//充流量
		        	goCLL: function(){
		        		window.location.href = CONSTANT.BASE_URI
							+ "page/cy-plat-h5-new/page/flow/cyb-flowPacket.html?ispId="
							+ vm.ispId + "&phone=";
		        	},
		        	//要流量
		        	goYLL: function(){
		        		window.location.href = CONSTANT.BASE_URI + "askFlow_main.do";
		        	},
		        	//首页
		        	goBuy: function(){
		        		window.location.href = http + "/cy-index-h5/home.html?ispId=" + vm.ispId;
		        	},
		        	//我的
		        	goMe: function(){
		        		window.location.href = CONSTANT.BASE_URI + "page/cy-plat-h5-new/page/index/cy-me.html?ispId=" + vm.ispId + "&20180712";
		        	},
		        	//选择流量包
		        	choosePacket: function(num){
		        		
		        			if(num == '1'){
		        				if(vm.ispId == '140'){
									/*window.location.href = CONSTANT.BASE_URI
											+ "flowPacket_toBuyFlowPacket.do?shoppingId=1401530250578234102"
											+ "&phone=";*/
									window.location.href = CONSTANT.BASE_URI
												+ "flowPacket_toBuyFlowPacket.do?shoppingId=1401556162468070009"
												+ "&phone=";		
		        				}else{
		        					window.location.href = CONSTANT.BASE_URI
											+ "flowPacket_toBuyFlowPacket.do?shoppingId=6401544411090682018"
											+ "&phone=";
		        				}
		        			}else if(num == '2'){
		        				if(vm.ispId == '140'){
									/*window.location.href = CONSTANT.BASE_URI
											+ "flowPacket_toBuyFlowPacket.do?shoppingId=1401542160535236009"
											+ "&phone=";*/
									window.location.href = CONSTANT.BASE_URI
												+ "flowPacket_toBuyFlowPacket.do?shoppingId=1401556162468070009"
												+ "&phone=";		
		        				}else{
		        					window.location.href = CONSTANT.BASE_URI
											+ "flowPacket_toBuyFlowPacket.do?shoppingId=6401542086846000004"
											+ "&phone=";
		        				}
		        			}else if(num == '3'){
		        				if(vm.ispId == '140'){
									/*window.location.href = CONSTANT.BASE_URI
											+ "flowPacket_toBuyFlowPacket.do?shoppingId=1401536894590224040"
											+ "&phone=";*/
									window.location.href = CONSTANT.BASE_URI
												+ "flowPacket_toBuyFlowPacket.do?shoppingId=1401556162468070009"
												+ "&phone=";		
		        				}else{
		        					window.location.href = CONSTANT.BASE_URI
											+ "flowPacket_toBuyFlowPacket.do?shoppingId=6401548125569523002"
											+ "&phone=";
		        				}
		        			}
		        		
		        	},
		        	//秒杀
		        	goMS: function(){
		        		if(vm.ispId == '140'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1806212003034929200.html";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1806211916390979170.html";
		        		}
		        	},
		        	//月购月恵
		        	goYGYH: function(num){
		        		if(num == '1'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1810171326264189581.html";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1812251837588421328.html";
		        		}
		        	},
		        	//单双号
		        	goDSH: function(){
		        		if(vm.ispId == '140'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1806211946524129180.html?4587=";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1806211833152889139.html";
		        		}
		        	},
		        	//玩转周末
		        	goWZZM: function(num){
		        		if(num == '1'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1901211530565243746.html?123cxc=";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1806211903209279156.html";
		        		}
		        	},
		        	//开宝箱
		        	goBox: function(){
		        		if(vm.ispId == '140'){
		        			window.location.href = "https://yun.gs-troy.com/act/140/1810111129379119096.html";
		        		}else{
		        			window.location.href = "https://liuliang.gs-troy.com/act/640/1806212051369659237.html";
		        		}
		        	}
		        }
		    });
		    function mySwiperBannerInit() {
				var mySwiperBanner = new Swiper('.swiper-container', {
						autoplay:5000,
	                    autoplayDisableOnInteraction : false,
	                    speed:1200,
	                    pagination : '.swiper-pagination',
	                    observer: true,
	                    observeParents: true,
				});
			}
		</script>
	</body>
</html>
