<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.ks.sso.provider.database.mapper.KsUserMapper" >
  <resultMap id="BaseResultMap" type="top.ks.sso.provider.database.model.KsUser" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="regist_from" property="registFrom" jdbcType="TINYINT" />
    <result column="frezz_type" property="frezzType" jdbcType="TINYINT" />
    <result column="is_robot" property="isRobot" jdbcType="TINYINT" />
    <result column="other_info" property="otherInfo" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, phone, gender, nick_name, head_img, province_id, city_id, regist_from, frezz_type, 
    is_robot, other_info, project_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ks_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ks_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.ks.sso.provider.database.model.KsUser" >
    insert into ks_user (user_id, phone, gender, 
      nick_name, head_img, province_id, 
      city_id, regist_from, frezz_type, 
      is_robot, other_info, project_id, 
      create_time, update_time)
    values (#{userId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, 
      #{nickName,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR}, #{registFrom,jdbcType=TINYINT}, #{frezzType,jdbcType=TINYINT}, 
      #{isRobot,jdbcType=TINYINT}, #{otherInfo,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.ks.sso.provider.database.model.KsUser" >
    insert into ks_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="headImg != null" >
        head_img,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="registFrom != null" >
        regist_from,
      </if>
      <if test="frezzType != null" >
        frezz_type,
      </if>
      <if test="isRobot != null" >
        is_robot,
      </if>
      <if test="otherInfo != null" >
        other_info,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="registFrom != null" >
        #{registFrom,jdbcType=TINYINT},
      </if>
      <if test="frezzType != null" >
        #{frezzType,jdbcType=TINYINT},
      </if>
      <if test="isRobot != null" >
        #{isRobot,jdbcType=TINYINT},
      </if>
      <if test="otherInfo != null" >
        #{otherInfo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.ks.sso.provider.database.model.KsUser" >
    update ks_user
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="registFrom != null" >
        regist_from = #{registFrom,jdbcType=TINYINT},
      </if>
      <if test="frezzType != null" >
        frezz_type = #{frezzType,jdbcType=TINYINT},
      </if>
      <if test="isRobot != null" >
        is_robot = #{isRobot,jdbcType=TINYINT},
      </if>
      <if test="otherInfo != null" >
        other_info = #{otherInfo,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.ks.sso.provider.database.model.KsUser" >
    update ks_user
    set phone = #{phone,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      nick_name = #{nickName,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      regist_from = #{registFrom,jdbcType=TINYINT},
      frezz_type = #{frezzType,jdbcType=TINYINT},
      is_robot = #{isRobot,jdbcType=TINYINT},
      other_info = #{otherInfo,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>