<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.ks.client.provider.database.mapper.LolHeroMapper" >
  <resultMap id="BaseResultMap" type="top.ks.client.provider.database.model.LolHero" >
    <id column="hero_id" property="heroId" jdbcType="VARCHAR" />
    <result column="hero_name" property="heroName" jdbcType="VARCHAR" />
    <result column="hero_short_name" property="heroShortName" jdbcType="VARCHAR" />
    <result column="hero_eng_name" property="heroEngName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="hero_position" property="heroPosition" jdbcType="VARCHAR" />
    <result column="hero_small_img" property="heroSmallImg" jdbcType="VARCHAR" />
    <result column="hero_big_img" property="heroBigImg" jdbcType="VARCHAR" />
    <result column="damage_type" property="damageType" jdbcType="TINYINT" />
    <result column="Hero_attribute" property="heroAttribute" jdbcType="VARCHAR" />
    <result column="viability_value" property="viabilityValue" jdbcType="DECIMAL" />
    <result column="physical_attack" property="physicalAttack" jdbcType="DECIMAL" />
    <result column="magic_attack" property="magicAttack" jdbcType="DECIMAL" />
    <result column="operation_difficulty" property="operationDifficulty" jdbcType="DECIMAL" />
    <result column="hero_back_story" property="heroBackStory" jdbcType="VARCHAR" />
    <result column="hero_desc" property="heroDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    hero_id, hero_name, hero_short_name, hero_eng_name, status, hero_position, hero_small_img, 
    hero_big_img, damage_type, Hero_attribute, viability_value, physical_attack, magic_attack, 
    operation_difficulty, hero_back_story, hero_desc, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ks_lol_hero
    where hero_id = #{heroId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ks_lol_hero
    where hero_id = #{heroId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.ks.client.provider.database.model.LolHero" >
    insert into ks_lol_hero (hero_id, hero_name, hero_short_name, 
      hero_eng_name, status, hero_position, 
      hero_small_img, hero_big_img, damage_type, 
      Hero_attribute, viability_value, physical_attack, 
      magic_attack, operation_difficulty, hero_back_story, 
      hero_desc, create_time, update_time
      )
    values (#{heroId,jdbcType=VARCHAR}, #{heroName,jdbcType=VARCHAR}, #{heroShortName,jdbcType=VARCHAR}, 
      #{heroEngName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{heroPosition,jdbcType=VARCHAR}, 
      #{heroSmallImg,jdbcType=VARCHAR}, #{heroBigImg,jdbcType=VARCHAR}, #{damageType,jdbcType=TINYINT}, 
      #{heroAttribute,jdbcType=VARCHAR}, #{viabilityValue,jdbcType=DECIMAL}, #{physicalAttack,jdbcType=DECIMAL}, 
      #{magicAttack,jdbcType=DECIMAL}, #{operationDifficulty,jdbcType=DECIMAL}, #{heroBackStory,jdbcType=VARCHAR}, 
      #{heroDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.ks.client.provider.database.model.LolHero" >
    insert into ks_lol_hero
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="heroId != null" >
        hero_id,
      </if>
      <if test="heroName != null" >
        hero_name,
      </if>
      <if test="heroShortName != null" >
        hero_short_name,
      </if>
      <if test="heroEngName != null" >
        hero_eng_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="heroPosition != null" >
        hero_position,
      </if>
      <if test="heroSmallImg != null" >
        hero_small_img,
      </if>
      <if test="heroBigImg != null" >
        hero_big_img,
      </if>
      <if test="damageType != null" >
        damage_type,
      </if>
      <if test="heroAttribute != null" >
        Hero_attribute,
      </if>
      <if test="viabilityValue != null" >
        viability_value,
      </if>
      <if test="physicalAttack != null" >
        physical_attack,
      </if>
      <if test="magicAttack != null" >
        magic_attack,
      </if>
      <if test="operationDifficulty != null" >
        operation_difficulty,
      </if>
      <if test="heroBackStory != null" >
        hero_back_story,
      </if>
      <if test="heroDesc != null" >
        hero_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="heroId != null" >
        #{heroId,jdbcType=VARCHAR},
      </if>
      <if test="heroName != null" >
        #{heroName,jdbcType=VARCHAR},
      </if>
      <if test="heroShortName != null" >
        #{heroShortName,jdbcType=VARCHAR},
      </if>
      <if test="heroEngName != null" >
        #{heroEngName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="heroPosition != null" >
        #{heroPosition,jdbcType=VARCHAR},
      </if>
      <if test="heroSmallImg != null" >
        #{heroSmallImg,jdbcType=VARCHAR},
      </if>
      <if test="heroBigImg != null" >
        #{heroBigImg,jdbcType=VARCHAR},
      </if>
      <if test="damageType != null" >
        #{damageType,jdbcType=TINYINT},
      </if>
      <if test="heroAttribute != null" >
        #{heroAttribute,jdbcType=VARCHAR},
      </if>
      <if test="viabilityValue != null" >
        #{viabilityValue,jdbcType=DECIMAL},
      </if>
      <if test="physicalAttack != null" >
        #{physicalAttack,jdbcType=DECIMAL},
      </if>
      <if test="magicAttack != null" >
        #{magicAttack,jdbcType=DECIMAL},
      </if>
      <if test="operationDifficulty != null" >
        #{operationDifficulty,jdbcType=DECIMAL},
      </if>
      <if test="heroBackStory != null" >
        #{heroBackStory,jdbcType=VARCHAR},
      </if>
      <if test="heroDesc != null" >
        #{heroDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.ks.client.provider.database.model.LolHero" >
    update ks_lol_hero
    <set >
      <if test="heroName != null" >
        hero_name = #{heroName,jdbcType=VARCHAR},
      </if>
      <if test="heroShortName != null" >
        hero_short_name = #{heroShortName,jdbcType=VARCHAR},
      </if>
      <if test="heroEngName != null" >
        hero_eng_name = #{heroEngName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="heroPosition != null" >
        hero_position = #{heroPosition,jdbcType=VARCHAR},
      </if>
      <if test="heroSmallImg != null" >
        hero_small_img = #{heroSmallImg,jdbcType=VARCHAR},
      </if>
      <if test="heroBigImg != null" >
        hero_big_img = #{heroBigImg,jdbcType=VARCHAR},
      </if>
      <if test="damageType != null" >
        damage_type = #{damageType,jdbcType=TINYINT},
      </if>
      <if test="heroAttribute != null" >
        Hero_attribute = #{heroAttribute,jdbcType=VARCHAR},
      </if>
      <if test="viabilityValue != null" >
        viability_value = #{viabilityValue,jdbcType=DECIMAL},
      </if>
      <if test="physicalAttack != null" >
        physical_attack = #{physicalAttack,jdbcType=DECIMAL},
      </if>
      <if test="magicAttack != null" >
        magic_attack = #{magicAttack,jdbcType=DECIMAL},
      </if>
      <if test="operationDifficulty != null" >
        operation_difficulty = #{operationDifficulty,jdbcType=DECIMAL},
      </if>
      <if test="heroBackStory != null" >
        hero_back_story = #{heroBackStory,jdbcType=VARCHAR},
      </if>
      <if test="heroDesc != null" >
        hero_desc = #{heroDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where hero_id = #{heroId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.ks.client.provider.database.model.LolHero" >
    update ks_lol_hero
    set hero_name = #{heroName,jdbcType=VARCHAR},
      hero_short_name = #{heroShortName,jdbcType=VARCHAR},
      hero_eng_name = #{heroEngName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      hero_position = #{heroPosition,jdbcType=VARCHAR},
      hero_small_img = #{heroSmallImg,jdbcType=VARCHAR},
      hero_big_img = #{heroBigImg,jdbcType=VARCHAR},
      damage_type = #{damageType,jdbcType=TINYINT},
      Hero_attribute = #{heroAttribute,jdbcType=VARCHAR},
      viability_value = #{viabilityValue,jdbcType=DECIMAL},
      physical_attack = #{physicalAttack,jdbcType=DECIMAL},
      magic_attack = #{magicAttack,jdbcType=DECIMAL},
      operation_difficulty = #{operationDifficulty,jdbcType=DECIMAL},
      hero_back_story = #{heroBackStory,jdbcType=VARCHAR},
      hero_desc = #{heroDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where hero_id = #{heroId,jdbcType=VARCHAR}
  </update>

  <select id="selectByHeroEngName" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ks_lol_hero
    where hero_eng_name = #{heroEngName,jdbcType=VARCHAR}
  </select>
</mapper>