<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.ks.commodity.database.mapper.CommodityMapper" >
  <resultMap id="BaseResultMap" type="top.ks.commodity.database.model.Commodity" >
    <id column="commodity_id" property="commodityId" jdbcType="VARCHAR" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="commodity_title" property="commodityTitle" jdbcType="VARCHAR" />
    <result column="commodity_img" property="commodityImg" jdbcType="VARCHAR" />
    <result column="commodity_price" property="commodityPrice" jdbcType="DECIMAL" />
    <result column="commodity_stock" property="commodityStock" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="top.ks.commodity.database.model.Commodity" extends="BaseResultMap" >
    <result column="commodity_detail" property="commodityDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    commodity_id, commodity_name, commodity_title, commodity_img, commodity_price, commodity_stock
  </sql>
  <sql id="Blob_Column_List" >
    commodity_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ks_commodity
    where commodity_id = #{commodityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ks_commodity
    where commodity_id = #{commodityId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.ks.commodity.database.model.Commodity" >
    insert into ks_commodity (commodity_id, commodity_name, commodity_title, 
      commodity_img, commodity_price, commodity_stock, 
      commodity_detail)
    values (#{commodityId,jdbcType=VARCHAR}, #{commodityName,jdbcType=VARCHAR}, #{commodityTitle,jdbcType=VARCHAR}, 
      #{commodityImg,jdbcType=VARCHAR}, #{commodityPrice,jdbcType=DECIMAL}, #{commodityStock,jdbcType=INTEGER}, 
      #{commodityDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.ks.commodity.database.model.Commodity" >
    insert into ks_commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="commodityTitle != null" >
        commodity_title,
      </if>
      <if test="commodityImg != null" >
        commodity_img,
      </if>
      <if test="commodityPrice != null" >
        commodity_price,
      </if>
      <if test="commodityStock != null" >
        commodity_stock,
      </if>
      <if test="commodityDetail != null" >
        commodity_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commodityId != null" >
        #{commodityId,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityTitle != null" >
        #{commodityTitle,jdbcType=VARCHAR},
      </if>
      <if test="commodityImg != null" >
        #{commodityImg,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null" >
        #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="commodityStock != null" >
        #{commodityStock,jdbcType=INTEGER},
      </if>
      <if test="commodityDetail != null" >
        #{commodityDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.ks.commodity.database.model.Commodity" >
    update ks_commodity
    <set >
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityTitle != null" >
        commodity_title = #{commodityTitle,jdbcType=VARCHAR},
      </if>
      <if test="commodityImg != null" >
        commodity_img = #{commodityImg,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null" >
        commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="commodityStock != null" >
        commodity_stock = #{commodityStock,jdbcType=INTEGER},
      </if>
      <if test="commodityDetail != null" >
        commodity_detail = #{commodityDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where commodity_id = #{commodityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.ks.commodity.database.model.Commodity" >
    update ks_commodity
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_title = #{commodityTitle,jdbcType=VARCHAR},
      commodity_img = #{commodityImg,jdbcType=VARCHAR},
      commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      commodity_stock = #{commodityStock,jdbcType=INTEGER},
      commodity_detail = #{commodityDetail,jdbcType=LONGVARCHAR}
    where commodity_id = #{commodityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.ks.commodity.database.model.Commodity" >
    update ks_commodity
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_title = #{commodityTitle,jdbcType=VARCHAR},
      commodity_img = #{commodityImg,jdbcType=VARCHAR},
      commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      commodity_stock = #{commodityStock,jdbcType=INTEGER}
    where commodity_id = #{commodityId,jdbcType=VARCHAR}
  </update>
</mapper>