<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.ks.commodity.database.mapper.SkCommodityMapper">
    <resultMap id="BaseResultMap" type="top.ks.commodity.database.model.SkCommodity">
        <id column="sk_id" property="skId" jdbcType="VARCHAR"/>
        <result column="commodity_id" property="commodityId" jdbcType="BIGINT"/>
        <result column="sk_price" property="skPrice" jdbcType="DECIMAL"/>
        <result column="sk_stock_count" property="skStockCount" jdbcType="INTEGER"/>
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP"/>
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    sk_id, commodity_id, sk_price, sk_stock_count, start_date, end_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from ks_sk_commodity
        where sk_id = #{skId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ks_sk_commodity
    where sk_id = #{skId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="top.ks.commodity.database.model.SkCommodity">
    insert into ks_sk_commodity (sk_id, commodity_id, sk_price,
      sk_stock_count, start_date, end_date
      )
    values (#{skId,jdbcType=VARCHAR}, #{commodityId,jdbcType=BIGINT}, #{skPrice,jdbcType=DECIMAL},
      #{skStockCount,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="top.ks.commodity.database.model.SkCommodity">
        insert into ks_sk_commodity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skId != null">
                sk_id,
            </if>
            <if test="commodityId != null">
                commodity_id,
            </if>
            <if test="skPrice != null">
                sk_price,
            </if>
            <if test="skStockCount != null">
                sk_stock_count,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skId != null">
                #{skId,jdbcType=VARCHAR},
            </if>
            <if test="commodityId != null">
                #{commodityId,jdbcType=BIGINT},
            </if>
            <if test="skPrice != null">
                #{skPrice,jdbcType=DECIMAL},
            </if>
            <if test="skStockCount != null">
                #{skStockCount,jdbcType=INTEGER},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.ks.commodity.database.model.SkCommodity">
        update ks_sk_commodity
        <set>
            <if test="commodityId != null">
                commodity_id = #{commodityId,jdbcType=BIGINT},
            </if>
            <if test="skPrice != null">
                sk_price = #{skPrice,jdbcType=DECIMAL},
            </if>
            <if test="skStockCount != null">
                sk_stock_count = #{skStockCount,jdbcType=INTEGER},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where sk_id = #{skId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.ks.commodity.database.model.SkCommodity">
    update ks_sk_commodity
    set commodity_id = #{commodityId,jdbcType=BIGINT},
      sk_price = #{skPrice,jdbcType=DECIMAL},
      sk_stock_count = #{skStockCount,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP}
    where sk_id = #{skId,jdbcType=VARCHAR}
  </update>
    <!--扣减库存-->
    <update id="deducteCommodity" parameterType="String">
    update ks_sk_commodity
    set sk_stock_count = sk_stock_count-1
    where commodity_id = #{commodityId,jdbcType=VARCHAR} and sk_stock_count>0
  </update>
    <!--查询-->
    <select id="selectByCommodityId" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ks_sk_commodity
        where commodity_id = #{commodityId,jdbcType=VARCHAR}
    </select>
</mapper>
