/* 底部 */
.ks-footer{
	clear: both;
	width: 100%;
	height:5.23rem;
	background:rgba(255,255,255,1);
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 88;
	overflow: hidden;
	-webkit-box-shadow: 0rem 1.2rem 3rem 0rem rgba(140, 158, 177, .6);
	box-shadow: 0rem 1.2rem 3rem 0rem rgba(140, 158, 177, .6);
}
.ks-footer ul{
	clear: both;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
}
.ks-footer ul li{
	float: left;
	width: 33.33%;
	height: 5.23rem;
	text-align: center;
}
.ks-footer li span{
	width:100%;
	display: block;
	overflow: hidden;
}
.ks-footer li i{
	display: block;
	height:1.49rem;
	font-size:1.07rem;
	font-family:AppleSystemUIFont;
	color:rgba(142,142,147,1);
	line-height:1.49rem;
}
.ks-footer li img{
	width:5.12rem;
	height:3.63rem;
}
.ks-footer li .footer-active{
	font-family:PingFangSC-Medium;
	color:rgba(65,157,255,1);
}